node_modules
backend/backend-rede-social/.env
backend/backend-rede-social/public/assets/uploads/
backend/backend-rede-social/.dockerignore
backend/backend-rede-social/docker-compose.yaml
backend/backend-rede-social/dockerfile
